<!DOCTYPE html>
<html lang="en">
    <head>
        @Html.Partial("~/Pages/Partials/_Head.cshtml")
    </head>
    <body>
        <div id="layout-jumbotron" class="layout container-fluid">
            <header>
                @Html.Partial("/Pages/Partials/_Header.cshtml")
            </header>
            
            <div role="main" class="page">
                @RenderBody()
            </div>

            <footer id="footer" class="bg-dark">
                @Html.Partial("/Pages/Partials/_Footer.cshtml")
            </footer>
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>